html{
  height: 100%
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 246, 234)
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto 80px auto;
  z-index: 3;
}

.nav {
  grid-column: span 12;
  justify-self: center;
  display: inline;
  font-size: 2em;
  padding: 2em 0 0 0;
  margin-right: 5em;
  z-index: 1;
  background: rgb(250, 246, 234, .01)
}

.nav a {
  border-right: 3px solid #6E6F6D;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #3D4D54;
}
.nav a:last-child {
  border: none;
}

#parallelogram {
  width: 75%;
	height: 40%;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
  background: #FA7921;
  text-align: left;
  margin: auto;
  margin-top: 4em;
  padding-top: 5em;
  z-index: -5;
}

#subTitle {
  text-align: center;
  font-size: 2em;
  color: #3D4D54;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
#name {
  text-align: center;
  font-size: 6em;
  color: #3D4D54;
}

#circle {
  -webkit-clip-path: circle(50% at 10% 64%);
  clip-path: circle(50% at 10% 64%);
  background-color: #3D4D54;
  width: 25%;
  height: 25%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: 5;
}