html{
  height: 100%
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#portfolio {
    background-color: #21acec
    
}
.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 80px;
}

h2 {
  /* float: left; */
  color: white;
  font-size: 22px;
  text-align: start
}

.header {
  grid-column: span 9;
  justify-self: end;
  display: inline;
  font-size: 22px;
  padding: 30px 0 0 0;
  margin-right: 5%;
}

.header a {
  border-right: 3px solid rgb(69, 119, 177);
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: white;
}
.header a:last-child {
  border: none;
}

.btnImg {
  width: 372px;
  height: 372px
}

.projects {
  align-items: center;
  max-height: 100%;
  display: grid;
  grid-gap: 9px;
  grid-template-columns: auto;
  grid-auto-rows: 372px;
}

.footer {
  grid-column: span 9;
  text-align: center;
  background-color: rgba(79, 163, 219, 0.705);
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* pixel2 and pixel2XL */
@media screen and (min-width: 411px){
body {
  margin: 0px;
}

.btnImg {
  width: 411px;
  height: 411px
}

.projects {
  align-items: center;
  max-height: 100%;
  display: grid;
  grid-gap: 12px;
  grid-auto-rows: 411px;
}
}

@media screen and (min-width: 731px){

.btnImg {
  width: 360px;
  height: 355px;
}

.projects {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  grid-auto-rows: 360px;
}
}

/* @media screen and (min-width: 660px) {
.btnImg {
  width: 250px;
  height: 250px
}

.projects {
  align-items: center;
  max-height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-auto-rows: 250px;
}
} */

@media screen and (min-width: 1000px) {
body {
  margin-left: 35px;
}

.btnImg {
  width: 400px;
  height: 400px
}

.projects {
  align-items: center;
  max-height: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-auto-rows: 400px;
}
}